html, body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-weight: 400;
  /*font-family: -apple-system, source-sans-pro, helvetica, SYHT, Avenir Next, Avenir, Microsoft YaHei, Helvetica Neue, Helvetica, Lantinghei SC, Hiragino Sans GB, STHeiti, WenQuanYi Micro Hei, SimSun, arial, sans-serif;*/
  background: #EFF2F6;
}

.el-badge__content{
  top: 0;
  vertical-align: text-bottom;
  box-sizing: content-box !important;
}
